// ArtworkItem Card Styling

.card-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
}

.card-flex-item {
    align-items: center;
    flex: 1 0 25%;
    justify-content: center;
    border-radius: 15px;
}

// CarouselArt Card Styling

.card-flex-item-carousel {
    align-items: center;
    // flex: 30%;
    justify-content: center;
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
}
