@charset "utf-8";

@import '../../../node_modules/bulma/bulma.sass';

@import '../../../node_modules/react-grid-layout/css/styles.css';

@import '../../../node_modules/react-resizable/css/styles.css';

@import 'modules/colors';

@import '../style/partials/layout';

@import '../style/partials/typography';

@import 'react-slideshow-image/dist/styles.css';

//----- Global Styling -----//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

a {
  color: black;
}

//----- Nav Styling -----//

.App {
  height: 100vh;
  margin: auto;
}

//----- Nav Styling -----//

.Nav {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: black 1px solid;
  i {
    color: black;
    padding-right: 2rem;
    cursor: pointer;
  }
  .logo {
    width: 20%;
  }
  .rightSide {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .rightItems {
    display: flex;
    justify-content: space-around;

    .navMenuItems {
      margin-right: 2rem;
      color: #363636;
      font-weight: bold;
    }
    .navMenuCounter {
      margin-right: 1rem;
      color: #363636;
      font-weight: 500;
    }
  }
  .middleItems {
    display: flex;

    .navMenuItems {
      margin-right: 2rem;
      color: #363636;
      font-weight: bold;
    }
  }

  .cart {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 70%;
    right: 10%;
    width: 20rem;
    height: 30rem;
    background-color: whitesmoke;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    .checkoutButtonDiv {
      width: 100%;
      height: 10%;
    }
    .checkoutButton {
      width: 100%;
      height: 100%;
    }
    .cartItemContainer {
      width: 100%;
      height: 90%;
      overflow-y: scroll;
      .emptyText {
        width: 90%;
        margin: auto;
        height: 100%;
        text-align: center;
      }
    }
    .cartItem {
      width: 95%;
      margin: auto;
      margin-top: 1rem;
      height: 20%;
      border: 1px solid black;
      display: flex;

      .leftCart {
        padding-left: 0.3rem;
        button {
          height: 2em;
        }
        width: 60%;
      }
      .rightCart {
        width: 40%;
      }
    }
  }
}

//----- Home Styling -----//

.home {
  width: 100%;
  height: 100%;
  .aboutUsHome {
    width: 100%;
    height: 40%;
    .aboutUsImage {
      width: 100%;
      // height: 100%;
      overflow: hidden;
      position: relative;
      z-index: 1;
      .firstImage,
      .secondImage,
      .thirdImage {
        width: 100%;
        height: 100%;
      }
      // .firstImage {
      //   position: relative;
      //   h1 {
      //     position: absolute;
      //     color: white;
      //     top: 50%;
      //     left: 50%;
      //     z-index: 1;
      //   }
      // }
      img {
        width: 100%;
        position: relative;
        z-index: 1;
        height: 100%;
      }
    }
  }

  //----- CarsoulelArt/Home Styling -----//

  .carouselArt {
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 1rem;
  }
  .artworkDisplay {
    width: 100%;
    height: 60%;
    .displayTitle {
      padding-top: 1rem;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      hr {
        height: 1px;
        border: solid 1px black;
        color: black;
        width: 30%;
      }
    }
    .artworkCarousel {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
    }
  }
  
  .successDisplay {
    width: 100%;
    height: 60%;
    .successTitle {
      padding-top: 1rem;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      hr {
        height: 1px;
        border: solid 1px black;
        color: black;
        width: 30%;
      }
    }
    .successBody {
      width: 100%;
      height: 80%;

      display: flex;
      p {
        font-size: 1.5rem;
      }
      .successText {
        width: 90%;
        height: 60%;
        margin: auto;
      }
      .successProfile {
        width: 90%;
        margin: auto;
        height: 30%;

        display: flex;
        .successProfileName {
          width: 70%;
          height: 100%;
        }
        .successProfileImage {
          width: 30%;
          height: 100%;
          background-color: golden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .leftSuccess {
        width: 40%;
        height: 90%;
        margin: auto;
      }
      .rightSuccess {
        width: 40%;
        height: 90%;
        margin: auto;
      }
    }
  }
}

//----- Footer Styling -----//

.footer {
  background-color: black;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  h1 {
    color: white;
  }
}
.profile {
  width: 100%;
  height: 100%;

  h1 {
    font-size: 2rem;
  }
  .topProfile {
    width: 100%;
    height: 70%;
    display: flex;
    .leftProfile {
      height: 100%;
      margin: auto;
      width: 30%;
      text-align: center;
      .profileTitle {
        width: 100%;
        height: 10%;
      }
      button {
        margin-top: 2rem;
      }
      // .profileButtons {
      //   // display: flex;
      //   // flex-direction: column;
      // }
    }
    .rightProfile {
      height: 100%;
      width: 50%;
      margin: auto;
    }
  }
}
.editProfile {
  width: 100%;
  height: 100%;
}
.checkoutItem {
  width: 90%;
  margin: auto;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  .leftCheckout {
    width: 30%;
  }
  .rightCheckout {
    width: 70%;
  }
}

//----- SignIn Styling -----//

.signIn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    width: 20%;
    height: 50%;
    padding-top: 4%;
    input {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      width: 80%;
      border: none;
      border-bottom: 1px solid black;
      background-color: whitesmoke;
      outline: none;
    }
    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      width: 80%;
    }
    h4 {
      margin-top: 3rem;
    }
  }
}

//----- Register Styling -----//

.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    width: 25%;
    height: 55%;
    padding-top: 1%;
    input {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      width: 80%;
      border: none;
      border-bottom: 1px solid black;
      background-color: whitesmoke;
      outline: none;
    }
    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      width: 80%;
    }
    h1 {
      font-size: 12px;
      margin-top: 1rem;
    }
    .toSignin {
      font-size: 18px;
    }
  }
}
.addArtworkForm {
  height: 100%;
  width: 100%;
}
.artName {
  width: 100%;
  height: 100%;
}
