@charset "utf-8";

@import '../../../node_modules/bulma/bulma.sass';

@import '../../../node_modules/react-grid-layout/css/styles.css';

@import '../../../node_modules/react-resizable/css/styles.css';

@import 'modules/colors';

@import '../style/partials/layout';

@import '../style/partials/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  margin: auto;
}
.Nav {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 1px solid;
  i {
    color: black;
    padding-right: 2rem;
    cursor: pointer;
  }
  .logo {
    width: 20%;
  }
  .rightSide {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .rightItems {
    display: flex;
    justify-content: space-around;
    h2 {
      margin-right: 2rem;
    }
  }
  .middleItems {
    display: flex;
    h2 {
      margin-right: 2rem;
    }
  }

  .cart {
    position: absolute;
    top: 70%;
    right: 10%;
    width: 20rem;
    height: 30rem;
    background-color: rgb(209, 197, 197);
  }
}
a {
  &:visited {
    color: black;
  }
}
.home {
  width: 100%;
  height: 100%;
  .aboutUsHome {
    width: 100%;
    height: 40%;
    .aboutUsImage {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .carouselArt {
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 1rem;
  }
  .artworkDisplay {
    width: 100%;
    height: 60%;
    .displayTitle {
      padding-top: 1rem;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      hr {
        height: 1px;
        border: solid 1px black;
        color: black;
        width: 30%;
      }
    }
    .artworkCarousel {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
    }
  }
}
.footer {
  background-color: black;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  h1 {
    color: white;
  }
}
.profile {
  width: 100%;
  height: 100%;
  .topProfile {
    width: 100%;
    height: 60%;
    display: flex;
    .leftProfile {
      height: 100%;
      width: 40%;
    }
    .rightProfile {
      height: 100%;
      width: 60%;
    }
  }
}
.cartItem {
  margin: auto;
  width: 90%;
  height: 10%;
  border: 1px solid black;
  display: flex;
  margin-bottom: 1rem;
  .leftCart {
    width: 60%;
  }
  .rightCart {
    width: 40%;
  }
}
.checkoutItem {
  width: 90%;
  margin: auto;
  display: flex;
  .leftCheckout {
    width: 30%;
  }
  .rightCheckout {
    width: 70%;
  }
}
